body {
    font-family: sans-serif;
}

#ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem;
    width: 100px;
}

.empty::before {
    content: '☆';
    cursor: pointer;
}

.filled::before {
    content: '★';
    cursor: pointer;
}

/*  ☆★ */