* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #010101;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #99319b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  border: unset;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button .circle {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale 0.5s linear;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
