* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

img {
  width: 400px;
}

.heart {
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  transition: all 2s linear;
}

.heart.active {
  transform: scale(3);
  opacity: 0;
}
