@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #d1d0d0;
  font-family: 'Muli', sans-serif;
  font-weight:500;
}

#heading {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12vh;
	height: 100px;
}

#heading h1 {
	font-size: 60px;
	font-weight: bolder;
}

#ascii {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	color: #646262;
}

#infos {
	display: flex;
	justify-content: space-evenly;
	margin-top: 80px;
}

.info-box {
	text-align: center;
	width: 20%;
	background: #fff;
	border-radius: 15px;
}

.info-box h3 {
	background: #00adfd;
	padding: 20px;
	font-weight: bold;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.info-box h2 {
	padding: 20px;
}

#heading, #ascii, #infos {
	display: none;
}

#starter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: bolder;
	height: 100vh;
}

#starter #starter-text {
	background: #00adfdc1;
	padding: 20px;
	border-radius: 15px;
	font-weight: bolder;
}